<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="suggest_index">
        <% if @suggests.any? %>
          <% @suggests.each do |suggest| %>
            <div class="suggest_index-item border">
              <h3><%= link_to suggest.title, suggest_path(suggest) %></h3>
              <p class="right">
                <span>掲載者　<%= link_to suggest.user.name, user_path(suggest.user) %></span><br>
                <span>掲載日<%= suggest.updated_at.strftime("%Y年%m月%d日") %></span>
              </p>
            </div>
          <% end %>
        <% else %>
          <p class="center">該当の掲載がありません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>